/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	margin: 0 auto;
}

.side-bar {
	height: 100vh;
	width: 220px;
	background-color: darkblue;
	text-align: center;
	display:inline-block;
	color: lightgray;
	font-size: 22px;
}

.user-bar {
	height: 32vh;
	width: 200px;
}

.nav-bar {
	height: 25vh;
	width: 220px;
	background-color: blue;
	font-size: 22px;
	padding: 20px 0;

}

.search-bar {
	height: 4vh;
	width: 220px;
	background-color: rgb(0, 0, 70);
	margin: 50px 0;
}

a:visited.side-link {
	color: white;
}

a.side-link {
	color: white;
}

.article {
	display: inline-block;
	height: 300px;
	width: 300px;
	background-color: lightblue;
	margin: 10px;
	vertical-align: top;

	}

.sparta-logo {
	height: 100px;
	width: 210px;
	position: relative;
	bottom: -6vh;
}

.sad-box {
	background: fuchsia;
	position: absolute;
	top: 40%;
	left: 240px;
	font-family: impact;
	font-size: 50px;
}