<% if can? :create, @article %>
<!-- Checks to see if current user is an admin using cancan -->
<h1 class= 'creation-new-header'> Edit Article </h1>
<<<<<<< HEAD

=======
<!-- Header which displays the current page -->
<hr>
>>>>>>> d8c6134c98cf7c99f4e1a8da7cd007d1fb174aa5
<br>
<br>
  <%= render "form" %>
  <!-- render ERB which presents the form partial to the page -->
<% else %>
  <h1> ACCESS DENIED </h1>
  <!-- if the current user is not an admin they are presented with this message -->
<% end %>